In [ ]:
import pandas as pd

import data

In [ ]:
df = pd.read_csv('/content/sample_data/california_housing_test.csv')

In [ ]:
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0
...,...,...,...,...,...,...,...,...,...
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

Showing the informations of columns from the dataframe

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           3000 non-null   float64
 1   latitude            3000 non-null   float64
 2   housing_median_age  3000 non-null   float64
 3   total_rooms         3000 non-null   float64
 4   total_bedrooms      3000 non-null   float64
 5   population          3000 non-null   float64
 6   households          3000 non-null   float64
 7   median_income       3000 non-null   float64
 8   median_house_value  3000 non-null   float64
dtypes: float64(9)
memory usage: 211.1 KB

Describe shows different quantity of value from the dataframe

In [ ]:
df.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,3000.000000,3000.00000,3000.000000,3000.000000,3000.000000,3000.000000,3000.00000,3000.000000,3000.00000
mean,-119.589200,35.63539,28.845333,2599.578667,529.950667,1402.798667,489.91200,3.807272,205846.27500
std,1.994936,2.12967,12.555396,2155.593332,415.654368,1030.543012,365.42271,1.854512,113119.68747
min,-124.180000,32.56000,1.000000,6.000000,2.000000,5.000000,2.00000,0.499900,22500.00000
25%,-121.810000,33.93000,18.000000,1401.000000,291.000000,780.000000,273.00000,2.544000,121200.00000
50%,-118.485000,34.27000,29.000000,2106.000000,437.000000,1155.000000,409.50000,3.487150,177650.00000
75%,-118.020000,37.69000,37.000000,3129.000000,636.000000,1742.750000,597.25000,4.656475,263975.00000
max,-114.490000,41.92000,52.000000,30450.000000,5419.000000,11935.000000,4930.00000,15.000100,500001.00000

head() shows first 5 rows from the data frame

In [ ]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0

Shows name of every column

In [ ]:
df.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value'],
      dtype='object')

Slicing main dataframe in sub dataframe with specific columns

In [ ]:
df1 = df[['longitude','latitude']]
df1

In [ ]:
df2 = df[['total_rooms','total_bedrooms','population']]
df2

Return a Series or DataFrame containing counts of unique rows.

In [ ]:
df2.groupby(df2['total_rooms'])['total_bedrooms'].value_counts()

total_rooms  total_bedrooms
6.0          2.0               1
16.0         4.0               1
18.0         3.0               1
19.0         19.0              1
21.0         7.0               1
                              ..
21988.0      4055.0            1
23915.0      4135.0            1
24121.0      4522.0            1
27870.0      5027.0            1
30450.0      5033.0            1
Name: total_bedrooms, Length: 2997, dtype: int64

Concat combines dataframes together

In [ ]:
df3 = pd.concat([df1,df2],axis=1)
df3

      longitude  latitude  total_rooms  total_bedrooms  population
0       -122.05     37.37       3885.0           661.0      1537.0
1       -118.30     34.26       1510.0           310.0       809.0
2       -117.81     33.78       3589.0           507.0      1484.0
3       -118.36     33.82         67.0            15.0        49.0
4       -119.67     36.33       1241.0           244.0       850.0
...         ...       ...          ...             ...         ...
2995    -119.86     34.42       1450.0           642.0      1258.0
2996    -118.14     34.06       5257.0          1082.0      3496.0
2997    -119.70     36.30        956.0           201.0       693.0
2998    -117.12     34.10         96.0            14.0        46.0
2999    -119.63     34.42       1765.0           263.0       753.0

[3000 rows x 5 columns]

Datatypes of columns

In [ ]:
df3.dtypes

longitude         float64
latitude          float64
total_rooms       float64
total_bedrooms    float64
population        float64
dtype: object

mean value of a specific column

In [ ]:
df3.population.mean()

1402.7986666666666

function chaining

In [ ]:
df2.isna().value_counts()

total_rooms  total_bedrooms  population
False        False           False         3000
dtype: int64

Changes a specific value to Null

In [ ]:
df3.population.iloc[10]= None
df3.head(20)

    longitude  latitude  total_rooms  total_bedrooms  population
0     -122.05     37.37       3885.0           661.0      1537.0
1     -118.30     34.26       1510.0           310.0       809.0
2     -117.81     33.78       3589.0           507.0      1484.0
3     -118.36     33.82         67.0            15.0        49.0
4     -119.67     36.33       1241.0           244.0       850.0
5     -119.56     36.51       1018.0           213.0       663.0
6     -121.43     38.63       1009.0           225.0       604.0
7     -120.65     35.48       2310.0           471.0      1341.0
8     -122.84     38.40       3080.0           617.0      1446.0
9     -118.02     34.08       2402.0           632.0      2830.0
10    -118.24     33.98        972.0           249.0         NaN
11    -119.12     35.85        736.0           166.0       564.0
12    -121.93     37.25       1089.0           182.0       535.0
13    -117.03     32.97       3936.0           694.0      1935.0
14    -117.97     33.73       2097.0           325.0      1217.0
15    -117.99     33.81        161.0            40.0       157.0
16    -120.81     37.53        570.0           123.0       189.0
17    -121.20     38.69       3077.0           607.0      1603.0
18    -118.88     34.21       1590.0           196.0       654.0
19    -122.59     38.01       8814.0          1307.0      3450.0